<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.bootstrap5.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}">
</head>
<body>
<header>
    <div class="container-movil">
        <h1 id="titulo-nav">Panel de Control</h1>
        <button id="abrir-menu" aria-label="Abrir Menú" aria-expanded="false" aria-controls="navbar">
            <img src="{{ url_for('static', filename='images/menu.svg') }}" alt="Abrir menú">
        </button>
    </div>
        <nav id="navbar">
            <ul>
                <li id="espaciado-cerrar">
                    <button id="cerrar-menu" aria-label="Cerrar Menú"><img src="{{ url_for('static', filename='images/close.svg') }}" alt="Cerrar Menu"></img>
                    </button>
                </li>
                <li id="logo-inicio">
                    <a href="#" class="logo" >
                        <img title="Inicio" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
                    </a>
                </li>
                <li><a href="#" class="nav-text active-link">Inicio</a></li>
                <li><a href="#" class="nav-text">Riego</a></li>
                <li><a href="#" class="nav-text">Fertilizante</a></li>
                <li><a href="#" class="nav-text">Contacto</a></li>
                <li id="espaciado-campana">
                    <a href="#" id="logo-campana" class="logo">
                        <img title="Notificaciones"= src="{{ url_for('static', filename='images/bell.svg') }}" alt="Notificaciones">
                    </a>
                </li>
                <li>
                    <a href="#" id="logo-usuario" class="logo">
                        <img title="Usuario" src="{{ url_for('static', filename='images/user.svg') }}" alt="Usuario">
                    </a>
                </li>
            </ul>
        </nav>
    <div id="overlay" aria-hidden="true"></div>
</header>
<main>
    <div class="grid-container">
        <div class="box" id="main-box-container" style="grid-area: box1">
            <div id="weather-container" class="login-box">
                <form id="weather-form">
                    <div class="user-box">
                    <select id="city-select" name="city"></select>
                    <label>Ingresar Comuna/Ciudad:</label>
                    </div>
                    <button type="submit">
                        Seleccionar
                    </button>
                </form>
            </div>

            <div class="info-box">
                <h2>Contenedor 2</h2>
                <p>Aquí puedes poner más información, gráficos o controles.</p>
            </div>

            <div class="info-box">
                <h2>Contenedor 3</h2>
                <p>Y este es el tercer espacio disponible en la fila superior.</p>
            </div>

        </div>
        <div class="box" style="grid-area: box2;">
            <h2>Grafico riego</h2>
        </div>
        <div class="box" style="grid-area: box3;">
            <h2>Grafico fertilizante</h2>
        </div>
        <div class="box" style="grid-area: box4;">
            <h2>Recomendacion y estado del suelo</h2>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>